body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#animal-photos {
    text-align: center;
    margin: 20px;
}

#photo-heading {
    font-size: 24px;
    color: #333;
}

.animal {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.animal img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.animal p {
    font-size: 18px;
    margin: 10px 0;
    color: #444;
}

